/* DEBUG:  */
[class*=col-]{
  /* min-height: 100px; */
  /* background-color: rgba(255,0,0,0.2); */
  /* border: 1px solid red; */
}
header, section, footer{
  padding: 50px 0;
}


body{
  font-family: 'Barlow', sans-serif;
  font-size: 15px;
  font-weight: 600;
}

a{
  text-decoration: none;
  color: inherit;
}

img{
  max-width: 100%;
}

h2{
  font-size: 30px;
  color: #031C4E;
}

h3{
  color: #6F7B97;
}

h4{
  font-size: 1.2rem;
  margin: 10px 0;
}

a:not(nav a){
  color: #004AFF;
}

.bg-grey{
  background-color: #F3F5F9;
}

.bg-gradient{
  color: white;
  background-image: linear-gradient(to bottom, #0047C5, #001E99);
}

.bg-gradient h2{
  color: white;
}

.subtitle{
  color: #6F7B97;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.3em;
  margin-top: 10px;
}

.small-p{
  color: #6F7B97;
  font-size: 1rem;

  font-weight: 500;
  line-height: 1.2em;
}

/***** SPECIFIC RULES *****/

/* NAV */
nav [class*=col-]>*{
  line-height: 50px;
}

nav{
  padding: 10px 0;
  background: white;
}

nav .list-inline.visible-lg,
nav a.hidden-lg{
  float: right;
}

nav img{
  vertical-align: middle;
}

#signup{
  color: #004AFF;
  padding: 10px 15px;
  border: 1px solid #004AFF;
  border-radius: 5px;
}

nav .hidden-lg i{
  color: #004AFF;
  font-size: 40px;
  vertical-align: middle;
}

/* HEADER */
header{
  background-image: url('../img/jumbo.svg');
  color: white;
}

header h1{
  font-size: 60px;
}

header p{
  color: #BBCCFF;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 20px;
}

header h1,
header h1+p{
  margin-right: 50px;
}

#login{
  border-radius: 5px;
  background-color: white;
  text-align: center;
  padding: 30px;
}

#login p{
  color: #031C4E;
  font-size: 14px;
  font-weight: 600;
}

#login input{
  display: block;
  width: 100%;
  padding: 0.5em ;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

#login button{
  display: block;
  width: 100%;
  padding: 0.7em 0;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  position: relative;
}

button[name=create]{
  color: white;
  background-color: #579AFF;
}

button[name=google]{
  background-color: white;
  box-shadow: 2px 2px 2px lightgrey;
}

button img{
  max-width: 25px;
  position: absolute;
  left: 25px;
}

button span{
  line-height: 2em;
}

#login h2,
#login input,
#login button{
  margin-bottom: 10px;
}

/* MAIN */

/* I section */
.partners{
  /* height: 100px; */
  /* position: relative; */
  padding-left: 10px;
  margin: 20px 0;
}

.partners img{
  width: 100%;
  line-height: 150px;

  /* position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

/* II section */
#deploy .contained{
  margin-top: 60px;
}

section aside{
  border-left: 1.5px solid lightgrey;
  padding: 10px;
}

aside ul li{
  margin-bottom: 15px;
}

aside ul li:last-child{
  margin-bottom: 0;
}

aside li a{
  color: #6F7B97;
  font-size: 1.2rem;
  font-weight: 500;
}

/* III section */
#designed .fas{
  font-size: 25px;
  text-align: center;
}

.fas.fa-chevron-right{
  color: #031C4E;
}

.fas.fa-chevron-left{
  color: #6F7B97;
}

#designed .contained{
  /* width: 100%;
  height: 350px; */
}

#designed .contained{
  margin-top: 60px;
}

/* IV section */
#features .contained{
  margin-top: 40px;
}

#features .contained a{
  display: inline-block;
  margin-top: 10px;
}

/* V section */
table{
  margin-top: 20px;
  padding: 0 10px;
}

table,
table tr{
  width: 100%;
}

table tr{
  display: inline-block;
  border-bottom: 1px solid white;
  padding: 10px 15px;
}

table tr:last-child{
  border-bottom: none;
}

table td{
  display: inline-block;
}

table td:last-child{
  float: right;
}

table td>a{
  color: #00D5D2;
  font-weight: 500;
}

.table-city{
  color: #BBCCFF;
  font-weight: 500;
  margin-left: 50px;
}

/* FOOTER */
footer{
  background-color: #031C4E;
}

footer li{
  margin-bottom: 10px;
}

footer li>a{
  color: #A6ADBD;
  font-weight: 500;
}
